<!DOCTYPE html>
<html lang="utf-8">
<head>
    <meta charset="UTF-8">
    <title>Delete EHR</title>
</head>
    <body>
        <p1>Transmit: "{{ session['uid'] }}:'ACT_DELETE'"</p1>

        <h1>Patient issued delete EHR data request</h1>

        <h2><u>EHR Log:</u></h2>
        <p1>Placeholder 1</p1><br>
        <p1>Placeholder 2</p1><br>
        <p1>Placeholder 3</p1><br>
        <p1>Placeholder 4</p1><br>
        <p1>Placeholder 5</p1><br>
        <p1>Placeholder 6</p1><br>
        <p1>Placeholder 7</p1><br>
        <p1>Placeholder 8</p1><br>
        <p1>Placeholder 9</p1><br>
        <p1>Placeholder 10</p1><br>
        <h2><u>Dashboard</u></h2><br>
         <button id="dashboard" onclick="window.location.href='/auth?token={{ session['jwt_token'] }}'">User Dashboard</button><br><br>

    </body>
</html>