<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>
<h1>Welcome to your Admin Dashboard</h1>
<div id="ButtonSection">
    <!-- Create EHR data button -->
    <button id="admin-view-all-ehr" onclick="window.location.href='/admin-view-all-ehr?token={{ session['jwt_token'] }}'">View All EHR Audit Data</button><br><br>

    <!-- Query text box -->
    <form action="/admin-query-ehr-data?token={{ session['jwt_token'] }}" method="POST">
        <label for="admin-query-ehr-textbox"></label>
        <button type="submit">Query EHR data</button>
        <input type="text" id="admin-query-ehr-textbox" name="admin-query-ehr-textbox" placeholder="Enter User ID to query" required style="text-align:center"><br><br>
    </form>
    <!-- Log out -->
    <button id="user-logout" onclick="window.location.href='/user-logout?token={{ session['jwt_token'] }}'">Log out</button><br><br>

</div>
<div id="PatientInfo" style="visibility: hidden">
    <p>Filler</p>
</div>
</body>
</html>