<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
</head>
    <body>
        <h1>Welcome to your User Dashboard</h1>

        <!-- View EHR data button -->
        <button id="view-ehr-data">View EHR data</button><br><br>

        <!-- Input comments button -->
        <button id="input-comments">Input comments</button><br><br>

        <!-- Delete comments button -->
        <button id="delete-comments">Delete comments</button><br><br>

        <!-- Modify button -->
        <button id="modify">Modify</button><br><br>
    </body>
</html>