<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
</head>
<body>
<h1>Welcome to your User Dashboard</h1>
<div id="ButtonSection">

    <!-- Create EHR data button -->
    <form action="/create-ehr-data?token={{ session['jwt_token'] }}" method="POST">
        <label for="create-ehr-textbox"></label>
        <button type="submit">Create EHR data</button>
        <input type="text" id="create-ehr-textbox" name="create-ehr-textbox" placeholder="Enter EHR Comment" required style="text-align:center"><br><br>
    </form>

    <!-- Delete comments button -->
    <button id="delete-ehr-data" onclick="window.location.href='/delete-ehr-data?token={{ session['jwt_token'] }}'">Delete EHR data</button><br><br>

    <!-- Modify button -->
    <button id="modify-ehr-data" onclick="window.location.href='/change-ehr-data?token={{ session['jwt_token'] }}'">Modify EHR data</button><br><br>

    <!-- Query text box -->
    <button id="query-ehr-button" onclick="window.location.href='/query-ehr-data?token={{ session['jwt_token'] }}'">Query EHR data</button><br><br>

    <!-- Print button -->
    <button id="print-ehr-data" onclick="window.location.href='/print-ehr-data?token={{ session['jwt_token'] }}'">Print EHR data</button><br><br>

    <!-- Copy button -->
    <button id="copy-ehr-data" onclick="window.location.href='/copy-ehr-data?token={{ session['jwt_token'] }}'">Copy EHR data</button><br><br>

    <!-- Logout button -->
    <button id="user-logout" onclick="window.location.href='/user-logout?token={{ session['jwt_token'] }}'">Log out</button><br><br>
</div>
<div id="PatientInfo" style="visibility: hidden">
    <p>Filler</p>
</div>
</body>
</html>